html, body, #root, .Hooks {
  height: 100%;
  margin: 0%;
}
.lit {
  background-color: white;
  color: black;
}
.dark {
  background-color: black;
  color: white;
}
button {
  margin: 2vw;
}

/* had not set .Hooks at the top so full page was not turning black vs white */